:root{
    --primary-color: #361134;
    --sec-color: #B0228C;
    --darkest-color: #1f081e;
    --hover-color: #520d50;
    --active-text: white;
    --inactive-text: #aeaeae;
    --border-radius: 15px
}

body{
    background-image: linear-gradient(45deg,var(--darkest-color) 0,var(--primary-color) 100%) !important;
    height: 100vh;
    user-select: none;
}

.container{
    max-width: 95vw !important;
    height: 90vh;
    background-color: var(--sec-color);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(5vh);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control{
    display: inline-flex;
    height: 95%;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 25%;
    position: relative;
}

.control input#play-btn{
    width: 100%;
    height: 10vh;
    color: var(--active-text);
    background-color: var(--darkest-color);
    border-radius: var(--border-radius);
    transition: 0.3s;
    border: none;
}

.control input#play-btn:hover{
    background-color: var(--hover-color);
}

.sig{
    display: inline-flex;
    flex-direction: column;
    height: 95%;
    padding: 2%;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 72%;
}

.fig-mode{
    background-color: var(--darkest-color);
    color: var(--inactive-text);
    border-radius: var(--border-radius);
    width: calc(100% - 4rem);
    height: 6vh;
    line-height: 1;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.fig-mode-active{
    background-color: var(--sec-color);
    color: var(--active-text);
}

.fig-mode:hover{
    background-color: var(--hover-color);
    color: var(--active-text);
}

.fig-mode-active:hover{
    background-color: var(--sec-color);
    color: var(--active-text);
}

.spctrogram{
    display: none;
}

.sig .fig{
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

.figure-container {
    padding: 0.3rem 0.15rem;
}

.sig .fig .figure-container .figure{
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

.myPlot{
    width: 100%;
}

.select-mode{
    color: var(--inactive-text);
    display: flex;
    margin-bottom: 1.5rem;
    height: 60px;
}

.mode{
    padding: 2%;
    margin-right: 2%;
    user-select: none;
    cursor: pointer;
    border-bottom-color: var(--sec-color);
    border-bottom-width: 0px;
    border-bottom-style: solid;
    transition: 0.3s;
}

.mode:hover{
    color: var(--active-text);
}

.active{
    color: var(--active-text);
    border-bottom-color: var(--sec-color);
    border-bottom-width: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-style: solid;
}

.sliders-panel{
    margin-bottom: 1.5rem !important;
    height: 15vh;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    transform: translateY(-10%);
}

.slider{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* width: 16vw !important; */
}

.slider-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
}

.slider .label{
    color: var(--active-text);
    /* padding: 5px 10px; */
    font-weight: 500;
    margin-top: 3.5rem;
    width: fit-content;
    font-size: 0.9rem;
}

.slider .slider-value{
    background-color: var(--darkest-color);
    height: 2rem;
    padding: 5px;
    color: white;
    text-align: center;
    line-height: 1.3;
    border-radius: var(--border-radius);
    /* margin-right: -3rem; */
    width: 4vw !important;

}


.sliders-panel input{
    -webkit-appearance: none;
    appearance: none !important;
    outline: none !important;
    transform: rotate(-90deg);
    border-radius: 0px;
    background: var(--darkest-color);
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8rem;
    color: var(--sec-color);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 4rem;
}

.sliders-panel input:hover{
    opacity: 1;
}

.sliders-panel input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: var(--sec-color);
    cursor: pointer;
  }