:root{
    --primary-color: #022f3a;
    --sec-color: #005c7d;
    --darkest-color: #000000;
    --hover-color: #5ea9f8;
    --active-text: rgb(255, 255, 255);
    --inactive-text: #a9a8a8;
    --inactive-button: #7d7c7c;
    --border-radius: 15px
}

body{
    background-image: linear-gradient(45deg,var(--darkest-color) 0,var(--primary-color) 100%) !important;
    height: 100vh;
    user-select: none;
}

.container{
    max-width: 95vw !important;
    height: 90vh;
    background-color: var(--sec-color);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(5vh);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 !important;
}

.control{
    display: inline-flex;
    flex-direction: column;
    height: 98%;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 24.2%;
    position: relative;
}

.control input#browse-btn{
    width: 100%;
    height: 10vh;
    /* color: transparent; */
    background-color: var(--darkest-color);
    border-radius: var(--border-radius);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.control input#browse-btn:hover{
    background-color: var(--hover-color);
}

.control input#browse-btn::-webkit-file-upload-button {
    visibility: hidden;
}

.control input#browse-btn::before {
    content: 'Browse';
    color: var(--active-text);
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999; */
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    font-weight: 400;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    line-height: 3.4;
}

.control input#browse-btn::before:hover{
    color:var(--sec-color) !important;
}

.uploaded-file-label{
    padding-left: 1.5vw;
    color: var(--active-text);
    margin-top: -2vh;
    font-weight: 400;
}

.buttons{
    position: absolute;
    bottom: 12vh;
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darkest-color);
    border-radius: var(--border-radius);
    height: 7vh;
}

.buttons .button{
    color: var(--inactive-text);
    transition: 0.3s;
    font-size: 25px;
}

.buttons .button svg{
    pointer-events: none;
}

.button.play{
    background-color: var(--sec-color);
    border-radius: 50%;
    color: var(--active-text) ;
    width: 4vw;
    height: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button.play.btn-off:hover{
    background-color: var(--sec-color);
    color: var(--active-text)
}

.button.play:hover{
    background-color: var(--active-text);
    color: var(--sec-color);
}

.playing{
    color: var(--sec-color) !important;
    background-color: var(--active-text) !important;
}

.hide-play-btn{
    display: none !important;
    transition: 0.3s !important;
}

.buttons .button:hover:first-child,
.buttons .button:hover:last-child{
    color: var(--hover-color);
}

.btn-off{
    color: var(--inactive-button) !important;
    cursor: default !important;
}

.btn-off:hover{
    color: var(--inactive-text);
}

.btn-on{
    color: var(--active-text) !important;
    cursor: pointer !important;
}

.btn-on:hover{
    color: var(--hover-color) !important;
}

.pausing{
    color: var(--sec-color) !important;
    cursor: pointer !important;
}

.play-speed{
    position: absolute;
    color: var(--active-text);
    bottom: 22vh;
    width: calc(100% - 4rem);
}

.play-speed-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-speed .slider-value{
    margin-bottom: 2vh;
}

.play-speed h6{
    font-weight: 400;
    height: fit-content;
}

.play-speed .speed-slider{
    -webkit-appearance: none;
    appearance: none !important;
    outline: none !important;
    border-radius: 0px;
    background: var(--darkest-color);
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    color: var(--sec-color);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.play-speed .speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: var(--sec-color);
    cursor: pointer;
  }
  
.play-bar{
    position: absolute;
    color: var(--active-text);
    bottom: 3vh;
    width: calc(100% - 10rem);
    left: 50%;
    transform: translateX(-50%);
}

.play-time-slider{
    -webkit-appearance: none;
    appearance: none !important;
    outline: none !important;
    border-radius: 0px;
    background: var(--darkest-color);
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    height: 1vh;
    color: var(--sec-color);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
}

.play-time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--sec-color);
    cursor: pointer;
  }

.play-bar-data{
    display: flex;
    justify-content: space-between;
}

.sig{
    display: inline-flex;
    flex-direction: column;
    height: 98%;
    padding: 2%;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 75%;
}

.fig-modes{
    position: absolute;
    bottom: 29vh;
    display: flex;
    border-radius: var(--border-radius);
    width: 20vw;
    right: 2vw;
}

.fig-mode{
    background-color: var(--darkest-color);
    color: var(--inactive-text);
    height: 5vh;
    width: calc(100%/3);
    line-height: .5;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9vw;
}

.fig-mode:first-child{
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.fig-mode:last-child{
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.fig-mode-active{
    background-color: var(--sec-color);
    color: var(--active-text);
}

.fig-mode:hover{
    background-color: var(--hover-color);
    color: var(--active-text);
}

.fig-mode-active:hover{
    background-color: var(--sec-color);
    color: var(--active-text);
}

.spctrogram{
    display: none;
}

.sig .fig{
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

.figure-container {
    padding: 0.3rem 0.15rem;
}

.sig .fig .figure-container .figure{
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

.myPlot{
    width: 100%;
}

.select-mode{
    color: var(--inactive-text);
    display: flex;
    margin-bottom: 1.5rem;
    height: 60px;
}

.mode{
    padding: 2%;
    margin-right: 2%;
    user-select: none;
    cursor: pointer;
    border-bottom-color: var(--sec-color);
    border-bottom-width: 0px;
    border-bottom-style: solid;
    transition: 0.3s;
}

.mode:hover{
    color: var(--active-text);
}

.active{
    color: var(--active-text);
    border-bottom-color: var(--sec-color);
    border-bottom-width: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-style: solid;
}

.sliders-panel{
    margin-bottom: 1.5rem !important;
    height: 15vh;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    transform: translateY(-10%);
}

.slider{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* width: 16vw !important; */
}

.slider-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
}

.slider .label{
    color: var(--active-text);
    /* padding: 5px 10px; */
    font-weight: 400;
    margin-top: 3.8rem;
    width: fit-content;
    font-size: 0.9rem;
}

.slider-value{
    background-color: var(--darkest-color);
    height: 2rem;
    padding: 5px;
    color: white;
    text-align: center;
    line-height: 1.3;
    border-radius: var(--border-radius);
    /* margin-right: -3rem; */
    width: 4vw !important;

}


.sliders-panel input{
    -webkit-appearance: none;
    appearance: none !important;
    outline: none !important;
    transform: rotate(-90deg);
    border-radius: 0px;
    background: var(--darkest-color);
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8rem;
    color: var(--sec-color);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 4rem;
}

input[type="range"]:hover{
    opacity: 1;
}

.sliders-panel input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: var(--sec-color);
    cursor: pointer;
  }